/* La Celebrazione del Nostro Territorio style sheet */

a.lightlink_cnt {color: white; font-weight: medium; text-decoration: none}
.lightlink_cnt:hover {color: yellow; text-decoration: underline}

a.lightlink_cnt_2 {color: #004000; font-weight: bold; text-decoration: none}
.lightlink_cnt_2:hover {color: green; text-decoration: none}

a.lightlinkti {color: green; font-size: 10pt; font-weight: bold; text-decoration: none}
.lightlinkti:hover {background: white; color: green; font-weight: bold; text-decoration: underline}

a.lightlink {color: green}
.lightlink:hover {background: lightgreen; color: navy}

.lightlinka:hover {background: lime; color: red}
a.lightlinka {background: white; color: green}

a.lightlinkred {background: #cbffc4; color: red; font-weight: bold}

.lightlinkred:hover {background: lime; color: green; font-weight: bold}

a.lightlinkz {color: navy; font-weight: bold; text-decoration: none}
.lightlinkz:hover {color: green; text-decoration: underline}

.lightlinky:hover {background: yellow; color: red}

a.lll {color: navy; font-size="8pt"; text-decoration: none}
.lll:hover {color: navy; ; text-decoration: underline}

a.lightlinkx {color: #16806B; text-decoration: none}
.lightlinkx:hover {color: green; font-weight: bold; background: white}

.summary {color: #1EB395; font-size: 10pt; font-weight: bold; text-decoration: none}

a.noline {text-decoration: none}
.noline:hover {text-decoration: underline}

a.underline {text-decoration: underline}
.underline:hover {text-decoration: none}


